body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:62px;
  top:66px;
  width:169px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:616px;
  top:66px;
  width:119px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:234px;
  top:66px;
  width:379px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:375px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u36 {
  position:absolute;
  left:62px;
  top:106px;
  width:169px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u38 {
  position:absolute;
  left:616px;
  top:106px;
  width:119px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u40 {
  position:absolute;
  left:234px;
  top:106px;
  width:379px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:375px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u42 {
  position:absolute;
  left:62px;
  top:146px;
  width:169px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:616px;
  top:146px;
  width:119px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u46 {
  position:absolute;
  left:234px;
  top:146px;
  width:379px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:375px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u48 {
  position:absolute;
  left:62px;
  top:37px;
  width:291px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
