body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u484 {
  position:absolute;
  left:360px;
  top:-112px;
  width:422px;
  height:829px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u485 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:261px;
}
#u486 {
  position:absolute;
  left:230px;
  top:124px;
  width:566px;
  height:260px;
}
#u487 {
  position:absolute;
  left:2px;
  top:122px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:101px;
}
#u488 {
  position:absolute;
  left:230px;
  top:390px;
  width:141px;
  height:100px;
}
#u489 {
  position:absolute;
  left:2px;
  top:42px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:101px;
}
#u490 {
  position:absolute;
  left:383px;
  top:390px;
  width:141px;
  height:100px;
}
#u491 {
  position:absolute;
  left:2px;
  top:42px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:101px;
}
#u492 {
  position:absolute;
  left:537px;
  top:390px;
  width:141px;
  height:100px;
}
#u493 {
  position:absolute;
  left:2px;
  top:42px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:101px;
}
#u494 {
  position:absolute;
  left:689px;
  top:390px;
  width:141px;
  height:100px;
}
#u495 {
  position:absolute;
  left:2px;
  top:42px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u496 {
  position:absolute;
  left:806px;
  top:219px;
  width:70px;
  height:70px;
  color:#FFFFFF;
}
#u497 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u498 {
  position:absolute;
  left:655px;
  top:132px;
  width:63px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u499 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u500 {
  position:absolute;
  left:728px;
  top:132px;
  width:63px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u501 {
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:801px;
  top:132px;
  width:63px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u503 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u504 {
  position:absolute;
  left:231px;
  top:124px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u505 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u506 {
  position:absolute;
  left:384px;
  top:391px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u508 {
  position:absolute;
  left:378px;
  top:234px;
  width:271px;
  height:40px;
  color:#FFFFFF;
}
#u509 {
  position:absolute;
  left:2px;
  top:12px;
  width:267px;
  word-wrap:break-word;
}
